body {
    margin: 0; background: url('assets/bg.png') no-repeat center center fixed;
    background-size: cover; height: 100vh; display: flex; justify-content: center; align-items: center;
    font-family: 'Courier New', Courier, monospace; overflow: hidden;
}

.app-container {
    background: rgba(0, 0, 0, 0.96); width: 360px; padding: 25px;
    border: 2px solid #00ffcc; border-radius: 15px; text-align: center; position: relative;
}

.main-logo { width: 110px; margin-bottom: 10px; }
.status-bar { font-size: 10px; color: #444; margin-bottom: 25px; letter-spacing: 1px; }

.img-btn { width: 260px; margin: 15px auto; cursor: pointer; transition: 0.1s; }
.img-btn:active { transform: scale(0.95); }
.img-btn img { width: 100%; display: block; }

.hidden { display: none; }

/* Suggestion Card */
.suggest-card {
    background: #000; border: 1px solid #00ffcc; border-radius: 5px;
    width: 85%; margin: -5px auto 10px auto; padding: 10px;
    text-align: left; cursor: pointer; box-shadow: 0 0 10px #00ffcc22;
}
.suggest-card p { margin: 2px 0; font-size: 11px; color: #00ffcc; }

/* Warning Box */
.warning-box { background: #000; border: 2px solid #ff0000; padding: 20px; border-radius: 10px; position: relative; }
.warn-msg { color: #ff0000; font-size: 11px; font-weight: bold; line-height: 1.5; }
.close-x { position: absolute; top: 10px; right: 10px; color: #00ffcc; cursor: pointer; font-size: 20px; }

/* Loader */
.loader-overlay {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: #000; z-index: 100; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 13px;
}
.spinner { width: 40px; height: 40px; border: 4px solid #111; border-top: 4px solid #00ffcc; border-radius: 50%; animation: spin 0.8s linear infinite; }
@keyframes spin { 100% { transform: rotate(360deg); } }

/* Toast */
.toast { position: fixed; top: 20px; background: #000; border: 1px solid #00ffcc; color: #00ffcc; padding: 12px; width: 260px; display: flex; justify-content: space-between; font-size: 11px; z-index: 200; }
.toast.error { border-color: #ff0000; color: #ff0000; }

input { width: 85%; padding: 13px; margin: 10px 0; background: #000; border: 1px solid #333; color: #00ffcc; text-align: center; border-radius: 5px; outline: none; }
.data-card { background: #050505; padding: 15px; border: 1px solid #222; text-align: left; }
.val { color: #fff; font-size: 11px; background: #111; padding: 10px; border: 1px dashed #00ffcc; cursor: pointer; margin-top: 5px; }
.dev-tag { font-size: 8px; color: #333; margin-top: 25px; }
